<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hebat.kecamatanngaliyan.pesonangaliyanhebat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SnackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BringinBerseriActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SouvenirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TamanLeleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LembahKalipancurActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".TematikActivity"
            android:label="Kampung Tematik"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WisataActivity"
            android:label="Wisata"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KulinerActivity"
            android:label="Kuliner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IndianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KapalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MargasatwaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KarangjohoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KaliancarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JambuKristalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CeripingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SulamPitaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RamahKeluargaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen2"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".SplashScreen3"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".OlahanGadungActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AsriBerimbangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KalipancuranActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SerendengActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TahuGimbalBuSitiActivity"
            android:label="Tahu Gimbal Bu Siti" />
        <activity
            android:name=".AngkringanPingtoEatActivity"
            android:label="Angkringan Ping to Eat" />
        <activity
            android:name=".NasiGorengWatuLumpangActivity"
            android:label="Nasi Goreng Watu Lumpang" />
        <activity
            android:name=".NasiGorengMasSastroActivity"
            android:label="Nasi Goreng Mas Sastro" />
        <activity
            android:name=".NasiBebekMudaKangJonoActivity"
            android:label="Nasi Bebek Muda Kang Jono" />
        <activity
            android:name=".SotoPakSaepulActivity"
            android:label="Soto Pak Saepul" />
        <activity
            android:name=".Belut96Activity"
            android:label="Belut 96" />
        <activity
            android:name=".MieBaksoSehatiActivity"
            android:label="Mie Bakso Sehati" />
        <activity
            android:name=".SambelHuHahActivity"
            android:label="Sambel Hu Hah" />
        <activity
            android:name=".KedaiEsKrimActivity"
            android:label="Kedai Es Krim" />
        <activity
            android:name=".LeleKetawaActivity"
            android:label="Lele Ketawa" />
        <activity
            android:name=".PecelGablokMbakMulActivity"
            android:label="Pecel Gablok Mbak Mul" />
        <activity
            android:name=".KelapaBakarBuWarsitoActivity"
            android:label="Kelapa Bakar Bu Warsito" />
        <activity
            android:name=".SotoKerbaudanNasiPindangActivity"
            android:label="Soto Kerbau dan Nasi Pindang" />
        <activity
            android:name=".DawetKetanPakAgusActivity"
            android:label="Dawet Ketan Pak Agus" />
        <activity
            android:name=".AyamKemoeldanAngkringanOmBunActivity"
            android:label="Ayam Kemoel dan Angkringan Om Bun" />
        <activity
            android:name=".AngkringanGrillesActivity"
            android:label="Angkringan Grilles" />
        <activity android:name=".CafeSemilirActivity"></activity>
    </application>

</manifest>